body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
}

h2 {
  margin-left: 25px;
  margin-bottom: 40px;
  width: 270px;
  border-left: 15px solid red;
  border-bottom: 2px solid red;
  padding-inline-start: 15px;
}

.yama1 video {
  width: 568px;
  height: 320px;
  margin: 30px 20px 0 20px;
  border-radius: 10px;
}

.yama1 p {
  margin: 10px 20px;
  width: 600px;
}

.yama2 video {
  width: 568px;
  height: 320px;
  margin: 30px 20px 0 20px;
  border-radius: 10px;
}

.yama2 p {
  margin: 10px 20px;
  width: 600px;
}

a {
  font-size: 20px;
  margin: 20px 50px;
  width: 150px;
  text-align: center;
  background: rgb(223, 0, 0);
  display: block;
  color: beige;
  text-decoration: none;
  border-radius: 50px 5px;
  box-shadow: 4px 4px #555;
  text-shadow: -1px -1px #555;
  transition: 0.2s;
}

a:hover {
  border-radius: 5px 50px;
}