body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

aside {
  margin-top: 30px;
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

main {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

main h1 {
  font-size: 1.8rem;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 9px 2px;
  font-size: 18px;
  background: rgb(223, 0, 0);
  border-radius: 50px 5px;
  box-shadow: 4px 4px #555;
  text-shadow: -1px -1px #555;
  transition: 0.2s;
}

ul li:hover {
  border-radius: 5px 50px;
}

ul li a {
  display: block;
  color: beige;
  text-decoration: none;
}

div {
  margin-top: auto;
  height: 300px;
}

footer {
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    height: 550px;
    flex-direction: column;
  }
  main {
    width: 100%;
    flex: 1;
  }
  div {
    display: none;
  }
  aside {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  ul {
    display: flex;
  }
  li {
    flex: 1;
  }
}